$apricot: #FFCDB2;
$dark-apricot: #504038;
$melon: #FFB4A2;
$pastel-pink: #E5989B;
$english-lavender: #B5838D;
$old-lavender: #6D6875;
$error: #FF6347;

// Icon definitions
$icon-search: "\e900";
$icon-star_outline: "\e901";
$icon-star_half: "\e902";
$icon-star: "\e903";
$icon-person: "\e904";
$icon-chat: "\e905";
$icon-chat1: "\e906";
$icon-shopping-cart: "\e907";
$icon-book: "\e908";
$icon-menu_book: "\e909";
$icon-warning: "\e90a";
$icon-books: "\e920";
$icon-confirm-switch: "\e90b";
$icon-cancel-switch: "\e90c";
$icon-switch: "\e90d";
$icon-heart-o: "\e90e";
$icon-heart: "\e90f";
$icon-bookmark: "\e910";
$icon-bookmark_outline: "\e911";
$icon-minus: "\e913";
$icon-plus1: "\e915";
$icon-arrow_drop_down: "\e912";
$icon-clear: "\e914";
$icon-check: "\e916";
$icon-check1: "\e917";